<a href="https://colab.research.google.com/github/PankajSharma-1998/ml-ai/blob/master/panada.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# https://www.geeksforgeeks.org/pandas-tutorial/
import pandas as pd
from IPython.display import display, HTML

In [3]:
# Data
list1 = list1 = ["tom", "dick", "harry"]

dict1 = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

dict2 = {
  "calories": [500, 1000, 2000],
  "duration": [50, 48, 56]
}

csv_data = pd.read_csv("/content/sample_data/california_housing_test.csv")

In [4]:
# pandas series creating objects
# pd.Series() shows Column wise informations
df_series_list = pd.Series(list1)
print(df_series_list)


# Key/Value Objects as Series
df_series_dict = pd.Series(dict1)
print(df_series_dict)

# label specification, if not specified index would be 0,1,2,3
df_series_list = pd.Series(list1, index=["x", "y", "z"])
print(df_series_list)

# access data using index
print(df_series_list["x"])

0      tom
1     dick
2    harry
dtype: object
calories    [420, 380, 390]
duration       [50, 40, 45]
dtype: object
x      tom
y     dick
z    harry
dtype: object
tom

In [5]:
# creating objects/ pandas dataframe
# https://www.geeksforgeeks.org/creating-a-pandas-dataframe/?ref=lbp

# empty dataframe
df = pd.DataFrame()
print("Empty Df: ", df)

# note:DataFrame is like 2d table
df_list = pd.DataFrame(list1, index=["x", "y", "z"])
print("pd.DataFrame(list1): ", df_list)

# Convert the dictionary into DataFrame
df_dict = pd.DataFrame(dict1)
print("pd.DataFrame(dict1): ", df_dict)

# reading dict as series,
df_dict_series = pd.Series(dict1)
print("pd.Series(dict1): ", df_dict_series)

# access DataFrame data
print("read data as DataFrame: ", df_dict[["calories"]], type(df_dict[["calories"]]))
print("read data as Series: ", df_dict["calories"], type(df_dict["calories"]))

Empty Df:  Empty DataFrame
Columns: []
Index: []
pd.DataFrame(list1):         0
x    tom
y   dick
z  harry
pd.DataFrame(dict1):     calories  duration
0       420        50
1       380        40
2       390        45
pd.Series(dict1):  calories    [420, 380, 390]
duration       [50, 40, 45]
dtype: object
read data as DataFrame:     calories
0       420
1       380
2       390 <class 'pandas.core.frame.DataFrame'>
read data as Series:  0    420
1    380
2    390
Name: calories, dtype: int64 <class 'pandas.core.series.Series'>

In [6]:
# analyze/view data
df_csv = pd.DataFrame(csv_data)

# print head and tail
print("df_csv.head(2): ", df_csv.head(2))
print("df_csv.tail(2): ", df_csv.tail(2))

# creating series
df_csv_series = df_csv["longitude"].head(2)
print("creating series: ", df_csv_series)

# df.info() use to get Empty values, or Null values, information
print("df_csv.info()", df_csv.info())

# df.describe() to get statical data like mean, median, mode, sd
print("df_csv.describe()", df_csv.describe())

df_csv.head(2):     longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.05     37.37                27.0       3885.0           661.0
1    -118.30     34.26                43.0       1510.0           310.0

   population  households  median_income  median_house_value
0      1537.0       606.0         6.6085            344700.0
1       809.0       277.0         3.5990            176500.0
df_csv.tail(2):        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2998    -117.12     34.10                40.0         96.0            14.0
2999    -119.63     34.42                42.0       1765.0           263.0

      population  households  median_income  median_house_value
2998        46.0        14.0         3.2708            162500.0
2999       753.0       260.0         8.5608            500001.0
creating series:  0   -122.05
1   -118.30
Name: longitude, dtype: float64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB
df_csv.info() None
df_csv.describe()          longitude    latitude  housing_median_age   total_rooms  \
count  3000.000000  3000.00000         3000.000000   3000.000000
mean   -119.589200    35.63539           28.845333   2599.578667
std       1.994936     2.12967           12.555396   2155.593332
min    -124.180000    32.56000            1.000000      6.000000
25%    -121.810000    33.93000           18.000000   1401.000000
50%    -118.485000    34.27000           29.000000   2106.000000
75%    -118.020000    37.69000           37.000000   3129.000000
max    -114.490000    41.92000           52.000000  30450.000000

       total_bedrooms    population  households  median_income  \
count     3000.000000   3000.000000  3000.00000    3000.000000
mean       529.950667   1402.798667   489.91200       3.807272
std        415.654368   1030.543012   365.42271       1.854512
min          2.000000      5.000000     2.00000       0.499900
25%        291.000000    780.000000   273.00000       2.544000
50%        437.000000   1155.000000   409.50000       3.487150
75%        636.000000   1742.750000   597.25000       4.656475
max       5419.000000  11935.000000  4930.00000      15.000100

       median_house_value
count          3000.00000
mean         205846.27500
std          113119.68747
min           22500.00000
25%          121200.00000
50%          177650.00000
75%          263975.00000
max          500001.00000

In [14]:
# operations
# 1. select columns from DataFrame
print("select columns from DataFrame: ", df_csv[['longitude', 'latitude']].head(2))

# add column to DataFrame
# https://www.geeksforgeeks.org/dealing-with-rows-and-columns-in-pandas-dataframe/?ref=lbp
df_dict['age'] = [20, 23, 25]
print("added age column to df_dict : ", df_dict)

# drop columns from DataFram
# https://www.geeksforgeeks.org/python-delete-rows-columns-from-dataframe-using-pandas-drop/?ref=lbp
# axis = 1 for columns and 0 for rows drop
# inplace = True make changes in original dataframe
df_dict.drop(['age'], axis=1, inplace=True)
print(df_dict)

# join two DataFrames
df_dict2 = pd.DataFrame(dict2)
df_joined = pd.concat([df_dict, df_dict2])
print(df_joined)

select columns from DataFrame:     longitude  latitude
0    -122.05     37.37
1    -118.30     34.26
added age column to df_dict :     calories  duration  age
0       420        50   20
1       380        40   23
2       390        45   25
   calories  duration
0       420        50
1       380        40
2       390        45
   calories  duration
0       420        50
1       380        40
2       390        45
0       500        50
1      1000        48
2      2000        56

In [19]:
# cleaning/analyze Data
# https://www.kaggle.com/code/kashnitsky/topic-1-exploratory-data-analysis-with-pandas
print(df_csv.info(), df_csv.shape, df_csv.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           3000 non-null   float64
 1   latitude            3000 non-null   float64
 2   housing_median_age  3000 non-null   float64
 3   total_rooms         3000 non-null   float64
 4   total_bedrooms      3000 non-null   float64
 5   population          3000 non-null   float64
 6   households          3000 non-null   float64
 7   median_income       3000 non-null   float64
 8   median_house_value  3000 non-null   float64
dtypes: float64(9)
memory usage: 211.1 KB
None (3000, 9) Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value'],
      dtype='object')